.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__columns {
  width: 90%;
  margin: 60px auto 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  margin-top: 0;
  width: 183px;
  height: 35px;
}

.footer__author {
  margin-bottom: 18px;
  margin-top: 18px;
  color: #f2f2f2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal; 
}

.footer__column_content_info {
  display: flex;
  margin-top: 0;
  flex-direction: column;
  justify-content: start;
}

.footer__column-heading {
  margin-top: 0;
  margin-bottom: 20px;
  color: #f2f2f2;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 16px;
}

.footer__column-link {
  flex-direction: row;
  color: #f2f2f2;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}

.footer__column-link:hover {
  transition-duration: 2s;
  opacity: 0.33;
}

.footer__column_content_social {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  list-style: none;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}