.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}





.logo_place_footer {
  margin-top: 0;
  width: 183px;
  height: 35px;
}

