@import url(../rotation/rotation.css);

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.logo_place_header {
  width: 183px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  text-align: left;
  margin-left: 64px;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 2;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  margin-top: 0;
  margin-bottom: 0;
  left: 64px;
  bottom: 30px;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link{
  text-decoration: none;
  color: #2f80ed;
}
.header__link:after {
  content: "\2192";
}

.header__link:hover {
  transition-duration: 2s;
  opacity: 0.33;
}

.header__main-illustration {
  width: 756px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color:#2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 0;
  animation: rotation linear 20s infinite; 
}