

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.logo_place_header {
  width: 183px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
}