.feynman {
  margin-top: 100px;
  padding-top: 100px;
  min-height: 790px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/feynman.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-color: #f2f2f2;
}

.feynman__title {
  margin-top: 0;
  margin-bottom: 0;
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  margin-top: 70px;
  margin-bottom: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}


.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
}

.feynman__link::after {
  content: "\2192";
}

.feynman__link:hover {
  transition-duration: 2s;
  opacity: 0.33;
}