.feynman__link {
    position: absolute;
    top: 50%;
    right: 48px;
    text-decoration: none;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    color: #2f80ed;
  }
  
  .feynman__link::after {
    content: "\2192";
  }
  
  .feynman__link:hover {
    transition-duration: 2s;
    opacity: 0.33;
  }