.video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__title {
    width: 60%;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
  }
  
  .section__subtitle {
    width: 60%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
  }
  
  .video__iframes {
    margin: 50px auto 0;
    
    
  }

  .video__iframe {
    margin-right: 20px;
  }

