.feynman {
  padding-top: 80px;
  min-height: 790px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-image: url(../../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-color: #f2f2f2;
}