

.kaufman {
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:  #1f1f1f;
  z-index: 1;
  
}

.section-title_theme_dark {
  margin-top: 90px;
  width: 60%;
  text-align: center;
  color: #f2f2f2;
}

.section-subtitle_theme_dark {
  margin-top: 20px;
  width: 60%;
  text-align: center;
  margin-bottom: 0;
  color: #f2f2f2;
}

.table_theme_dark {
  margin: 0 auto 90px;
}