.kaufman {
  position: relative;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:  #1f1f1f;
  z-index: 1;
  
}

.section-title_theme_dark {
  margin-top: 90px;
  width: 60%;
  text-align: center;
  color: #f2f2f2;
}

.section-subtitle_theme_dark {
  margin-top: 20px;
  width: 60%;
  text-align: center;
  margin-bottom: 0;
  color: #f2f2f2;
}

.table_theme_dark {
  margin: 0 auto 90px;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  color: #f2f2f2;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #f2f2f2;
}

.kaufman__triangle {
  background-image: url(../../../../images/kaufman-triangle.svg);
  background-size: 877px 877px;
  height: 877px;
  width: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: -1;
}
