.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
}

.section__title {
  width: 60%;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section__subtitle {
  width: 60%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
  
.table__cell { 
width: 250px;
margin-top: 60px;

}

.table__heading {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
