.description {
  margin-top: 100px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
} 

.two-columns__paragraph {
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}