.resources {
    margin: 100px auto 217px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
  width: 60%;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.resources__logo-zone {
    margin-top: 80px;
    margin-bottom: 0px;
    width: 1100px;
}

.resources__logo {
    width: 270px;
    height: 38px;
}
