.header__subtitle {
    position: absolute;
    width: 388px;
    margin-top: 0;
    margin-bottom: 0;
    left: 64px;
    bottom: 30px;
    z-index: 2;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
  }