.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  position: static;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.logo_place_header {
  width: 183px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  text-align: left;
  margin-left: 64px;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 2;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  margin-top: 0;
  margin-bottom: 0;
  left: 64px;
  bottom: 30px;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link{
  text-decoration: none;
  color: #2f80ed;
}
.header__link:after {
  content: "\2192";
}

.header__main-illustration {
  width: 756px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color:#2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 0;
}

.description {
  margin-top: 100px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
 
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
} 

.two-columns__paragraph {
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
}

.section-title {
  width: 60%;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
  
.table__cell { 
width: 250px;
margin-top: 60px;

}

.table__heading {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  margin-top: 100px;
  padding-top: 100px;
  min-height: 790px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/feynman.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-color: #f2f2f2;
}

.feynman__title {
  margin-top: 0;
  margin-bottom: 0;
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  margin-top: 70px;
  margin-bottom: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}


.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
}

.feynman__link::after {
  content: "\2192";
}

.kaufman {
  position: relative;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:  #1f1f1f;
  z-index: 1;
  
}

.section-title_theme_dark {
  margin-top: 90px;
  width: 60%;
  text-align: center;
  color: #f2f2f2;
}

.section-subtitle_theme_dark {
  margin-top: 20px;
  width: 60%;
  text-align: center;
  margin-bottom: 0;
  color: #f2f2f2;
}

.table_theme_dark {
  margin: 0 auto 90px;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  color: #f2f2f2;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #f2f2f2;
}

.kaufman__triangle {
  background-image: url("../images/kaufman-triangle.svg");
  background-size: 877px 877px;
  height: 877px;
  width: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: 0;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__columns {
  width: 90%;
  margin: 60px auto 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  margin-top: 0;
  width: 183px;
  height: 35px;
}

.footer__author {
  margin-bottom: 18px;
  margin-top: 18px;
  color: #f2f2f2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal; 
}

.footer__column_content_info {
  display: flex;
  margin-top: 0;
  flex-direction: column;
  justify-content: start;
}

.footer__column-heading {
  margin-top: 0;
  margin-bottom: 20px;
  color: #f2f2f2;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 16px;
}

.footer__column-link {
  flex-direction: row;
  color: #f2f2f2;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}

.footer__column_content_social {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  list-style: none;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
