.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: static;
}

.logo_place_header {
  width: 183px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title{
  width: 730px;
  height: 100%;
  display: flex;
  padding: 0%;
  margin-left: 64px;
  z-index: 2;
  align-items: center;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 1;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}
.header__link{
  color: #2f80ed;
}
.header__link:after {
  content: "\2192";
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color:#2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: -2;
}

.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  min-height: 100px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  vertical-align: top;
  padding-top: 30px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
} 

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}


/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
