.khan__buy-link {
    text-decoration: none;
    color: #2f80ed;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    align-self: start;
}


.khan__buy-link:after {
    content: "\2192";
}

.khan__buy-link:hover {
    transition-duration: 2s;
    opacity: 0.33;
  }